body
{
    margin-top: 60px;
}

.text-color
{
  color: white;
}

/* home.component.css */

.centered-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center vertically */
    text-align: center;
    padding: 20px; /* Add padding for smaller screens */
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
  }
  
  .centered-container h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: white;
  }
  
  .centered-container p {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .centered-container button {
    width: 50%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #8E4585;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .centered-container button:hover {
    background-color: #6f3668;
  }
  