<!--select level-->
<div class="centered-container" *ngIf="!level_selected">
        
    <h1>Choose A Level To Edit </h1>
    
    <button class="button" (click)="SetField('PBAC')" >1 Bac</button>
    <button class="button" (click)="SetField('DBAC')">2 Bac</button>
    <button class="button" (click)="SetField('TC')">TC</button>
    
    
</div>


<!--select branch-->
<div class="centered-container" *ngIf="!branch_selected && level_selected">
        
    <h1>Choose A Level To Edit </h1>
    
    <button class="button" (click)="SetBranch('physics')" >Physics</button>
    <button class="button" (click)="SetBranch('chemistery')">Chemistery</button>
    
    
    
</div>


<!--select and edit-->
<div class="centered-container" *ngIf="!course_selected && branch_selected && level_selected">

        
    <div style="width: 100%; display: flex;" *ngFor="let c of courses | keyvalue; let i = index">
        
        

        <div class="row" style="width: 100%;">
            <div class="col-3">
                
            </div>
            <div class="col-6">
                
                <textarea class="textarea" name="" id="" rows="1" [disabled]="courses_disabled[i]" [(ngModel)]="courses_models[i]">{{c.key}}</textarea>
                <button class="button" style="width: 15%; background-color: green;" > open </button>
                <button class="button" style="width: 15%; background-color: green;" *ngIf="courses_disabled[i]" (click)="ToggleEditCourse(i)" [disabled]="editing_courses" > edit </button>
                <button class="button bg-soft-red" style="width: 15%;" *ngIf="!courses_disabled[i]" (click)="ToggleEditCourse(i)" (click)="FinishUpdatingCourse(i)" > finsih </button>
                <button class="button bg-soft-red" style="width: 15%;" *ngIf="!courses_disabled[i]" (click)="ToggleEditCourse(i)"> Cancel </button>
                <button class="button" style="width: 15%; background-color: red;"  *ngIf="courses_disabled[i]" (click)="DeleteCourse(i)" > delete </button>
            </div>
            <div class="col-3">
                
            </div>
        </div>
            
    </div>

    <div style="width: 100%; display: flex;">
        
        

        <div class="row" style="width: 100%;">
            <div class="col-3">
                
            </div>
            <div class="col-6" style="height: 50px;">
                <input type="text" class="input" style="margin: 10px auto; width: 60%; height: 100%;" [(ngModel)]="course_to_add">
                <button class="button" style="width: 20%; height: 100%;" (click)="OnAddCourse()" >+</button>
            </div>
            <div class="col-3">
                
            </div>
        </div>
            
    </div>

   
   
    
    
</div>

<div class="container" *ngIf="level_selected && branch_selected && course_selected">
    <div class="row">
        <div class="col-6" *ngFor="let item of data" >
            <div class="row">
                <div class="content">
                    <div class="index">
                        {{data.indexOf(item)}}
                    </div>
                    
                    <textarea 
                    [value]="item.text" 
                    [(ngModel)]="item.text"
                    [disabled]="!item.is_editable" 
                    rows="4" 
                    cols="50">
                    </textarea>
                </div>
            </div>
            <div class="row">
                <span class="col-2"></span>
                <div class="col-3" *ngIf="!item.is_editable && !is_editing" >
                    <button style="width: 100%;" class="button-soft button-green" (click)="Edit(item)">edit</button>
                </div>  

                <div class="col-3" *ngIf="!item.is_editable && is_editing" >
                    <button style="width: 100%;" class="button-soft button-green" disabled>edit</button>
                </div>
                
                <div class="col-3" *ngIf="item.is_editable && is_editing" >
                    <button style="width: 100%;" class="button-soft button-green" (click)="Finish(item)">Finish</button>
                </div>
                
                <span class="col-2"></span>
                <div class="col-3" *ngIf="!item.is_editable && !is_editing">
                    <button style="width: 100%;" class="col-3 button-soft button-red">delete</button>
                </div>

                <div class="col-3" *ngIf="item.is_editable && is_editing">
                    <button style="width: 100%;" class="col-3 button-soft button-red" (click)="Cancel(item)">cancel</button>
                </div>

                <span class="col-2"></span>
            </div>
            
        </div>

        <div class="col-6 content plus_container">
            <button class="button-soft button-green" (click)="Plus({text: '', is_editable: true, index: data.length})">+</button>    
        </div>
        
    </div>
        
    

    
    
    
</div>


